@model IEnumerable<Biblioteka_app.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3 "style="max-width :540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.BookName
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-info float-right"><i class="bi bi-pencil-square "></i></a>
                                    }
                                    </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ProfilePictureURL" width="200"alt="@item.BookName" >
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Category:</b>@item.CategoryModel.Catname </p>
                            <p class="card-text"><b>Pages:</b>@item.Pages</p>
                            <p class="card-text"><b>Publisher:</b>@item.PublisherModel.Name @item.PublisherModel.Surname</p>
                            <p class="card-text"><b>Author:</b>@item.AuthorModel.Name @item.AuthorModel.Surname</p>
                            <p class="card-text"><b>Edition:</b>@item.Edition</p>
                        </div>
                    </div>
                    <div class=" col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill ">Show details</i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div style="position:fixed;right:25px;bottom:25px" class="text-white">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-success">Add New</a>
    }
    </div>



